
/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Nguyen Danh Bao
ID: s3978319
Acknowledgement: Acknowledge the resources that you use here.  */

.about-description{
    font-size: 1.55rem;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1860px;
    width: 90%;
    align-self: center;
}

.desciption{
    width: 70%;
    
}
