/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Nguyen Danh Bao
ID: s3978319
Acknowledgement: Acknowledge the resources that you use here.  */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(177deg, #ffd89c 0%, #a2cdb0 80%);
}

/* Header */

.logo {
  width: 150px;
  position: absolute;
  top: 17px;
  left: 10%;
}
.nav-bar {
  background-color: #f1c27b;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-bar ul {
  float: right;
  margin-right: 25px;
}

.nav-bar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
  font-weight: bold;
}

.nav-bar ul li a {
  color: white;
  font-size: 20px;

  background: linear-gradient(
    to right,
    midnightblue,
    midnightblue 50%,
    white 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.nav-bar ul li a:hover {
  background-position: 0 100%;
}
label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
/* Main */

main {
  margin-top: 120px;
}

.breadcrumb-container {
  text-align: center;
  font-size: 1.2rem;
}

.breadcrumb-container h2 a {
  margin: 0 30px;
}

.main-img {
  width: 500px;
  height: 100%;
}

.content-container {
  display: flex;
  width: 70%;
  margin: 1.5rem auto;
  justify-content: space-evenly;
}

.book-description {
  margin: 1.5rem auto;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 1860px;
  width: 100%;
  height: 100%;
}

.booking-container {
  align-self: center;
  text-align: center;
  margin-left: 4rem;
  box-sizing: border-box;
}

.image-container {
  display: flex;
  height: 900px;
}

.sub-image-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
  width: 100%;
}

.sub-img {
  width: 250px;
  height: 300px;
  overflow: hidden;
}

.sub-img,
.main-img {
  transition: transform 0.3s;
}

.main-img:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.sub-img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.book-description {
  width: 70%;
}

.book-description h1 {
  font-weight: bold;
  font-size: 35px;
}

.book-description p {
  font-size: 1.55rem;
}

.book-title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.book-author {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.book-price {
  font-size: 40px;
  margin-bottom: 20px;
}

.add-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  text-transform: uppercase;
}

.add-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.add-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.add-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* Footer */
footer {
  margin-top: 50px;
  height: 100%;
  background-color: #85a389;
}

footer nav ul li a {
  color: white;
  font-size: 20px;

  background: linear-gradient(
    to right,
    midnightblue,
    midnightblue 50%,
    white 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
footer nav ul li a:hover {
  background-position: 0 100%;
}

footer nav ul {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer nav ul li {
  line-height: 80px;
  margin: 0 15px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  label #btn {
    display: block;
  }
  .breadcrumb-container {
    width: auto;
    margin: 0;
  }
  .nav-bar ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f1c27b;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 10;
  }

  .nav-bar ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .image-container {
    flex-direction: column;
    gap: 1.8rem;
    max-width: 400px;
    width: 80%;
    height: auto;
    align-self: center;
    overflow: hidden;
  }

  .booking-container {
    margin-top: 4.3rem;
    width: 80%;
    text-align: start;
    margin-left: 0;
  }

  .main-img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .sub-image-container {
    margin: 0;
    flex-direction: row;
    max-width: 400px;
    overflow: hidden;
  }
  .sub-img {
    width: 28%;
    height: auto;
    margin: 0;
  }

  .content-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .main-image-container {
    width: 100%;
  }

  .add-button {
    width: 70%;
  }

  .book-description {
    width: 80%;
  }

  footer {
    position: sticky;
    height: 300px;
    width: 100%;
  }

  footer nav ul {
    text-align: end;
    display: block;
    float: right;
  }

  footer nav ul li {
    margin: 20px 0;
    line-height: 30px;
  }

  .nav-bar ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
}
