/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Nguyen Danh Bao
ID: s3978319
Acknowledgement: Acknowledge the resources that you use here.  */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(177deg, #ffd89c 0%, #a2cdb0 80%);
}
/* Header */

.logo {
  width: 150px;
  position: absolute;
  top: 17px;
  left: 10%;
}
.nav-bar {
  background-color: #f1c27b;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 10;
}
.nav-bar ul {
  float: right;
  margin-right: 25px;
}

.nav-bar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
  font-weight: bold;
}

.nav-bar ul li a {
  color: white;
  font-size: 20px;

  background: linear-gradient(
    to right,
    midnightblue,
    midnightblue 50%,
    white 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.nav-bar ul li a:hover {
  background-position: 0 100%;
}
label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
/* Main */
main {
  margin-top: 120px;
}

.card {
  width: 230px;
  z-index: 1;
  
}

.book-row {
  display: flex;
  justify-content: space-evenly;
}

.book {
  
  transition: transform 0.5s;
  max-height: 500px;
  height: 83%;
  width: 100%;
  border: 25px solid #B88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.card:hover img {
  cursor: pointer;
  transform: scale(1.05);
}

.card h2 {
  text-align: center;
  margin-top: 10px;
}
.card a {
  color: purple;
}

.container,
.video-container {
  margin-top: 30px;
}

.video-container {
  display: flex;
  justify-content: space-around;
}

.video-container h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-left: 50px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-left: 50px;
}

/* Footer */
footer {
  margin-top: 50px;
  height: auto;
  background-color: #85a389;
  width: 100%;
}

footer nav ul li a {
  font-size: 20px;

  background: linear-gradient(
    to right,
    midnightblue,
    midnightblue 50%,
    white 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
footer nav ul li a:hover {
  background-position: 0 100%;
}

footer nav ul {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer nav ul li {
  line-height: 80px;
  margin: 0 15px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Responsive */

@media (max-width: 1118px) {
  .nav-bar img {
    left: 6%;
    top: 20px;
    width: 130px;
  }
  header nav ul li a {
    font-size: 17px;
  }
}

@media (max-width: 960px) {
  label #btn {
    display: block;
  }
  .nav-bar ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f1c27b;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 10;
  }
  .container{
    margin-top: 60px;
  }

  .container h1 {
    margin-left: auto;
    margin-right: auto;
  }

  .book-row {
    /* flex-direction: column;
    width: 100%;
    align-items: center; */
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5rem;
  }

  .card {
    margin: 30px 0;
    width: 250px;
  }
  .card h2{
    font-size: 30px;
  }

 
  .book {
    width: 100%;
    height: 100%;
  }

  .nav-bar ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  footer {
    position: sticky;
    height: 300px;
    width: 100%;
  }

  footer nav ul {
    text-align: end;
    display: block;
    float: right;
  }

  footer nav ul li {
    margin: 20px 0;
    line-height: 30px;
  }

  .nav-bar ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }
  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  iframe {
    margin-top: 30px;
    width: 70%;
  }

  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
}

@media (max-width: 457px) {
  .book-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    row-gap: 0;
  }
  
  .container{
    margin-top: 0;
  }


  .book {
    width: 100%;
    height: 100%;
  }
}
